<% if notice %>
<div class="row">
  <div id="notice" class="alert alert-success fade in"><%= notice %></div>
</div>
  <% end %>

<% if alert %>
<div class="row">
  <div class="alert alert-danger fade in"><%= alert %></div>
</div>
<% end %>
